each card in cards
  .item
    .thumb
      div(style=`background-image: linear-gradient(rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.4) 100%), url('${card.images[0]}'); height: 18rem; background-size: cover;`)
      h4 #{card.magicTown}