footer 
  .container 
    .row 
      .col-lg-12 
        p Derechos reservados © #{new Date().getFullYear()} 
          a(href="https://bgaona.netlify.app/" target="_blank")  | Brandon Gaona
        br


